{# templates/back/user/edit.html.twig #}

{% extends 'base_back.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Modifier l'utilisateur</h1>

    {{ form_start(form) }}
        <h2 class="form-register-title">Modification du mot de passe</h2>

        {{ form_row(form.lastname, {label: 'Nom:'}) }}
        {{ form_row(form.firstname, {label: 'Prenom:'}) }}

        <div class="flex">
            <button type="submit" class="btn-default">Valider</button>
        </div>
    {{ form_end(form) }}

    <a href="{{ path('back_admin_user_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
</div>
{% endblock %}
