{% extends 'base_front.html.twig' %}

{% block title %}Gestion utilisateurs{% endblock %}

{% block body %}
    <div class="admin-page">
        <h1 class="admin-header">Gestion utilisateurs</h1>
        <div class="admin-links">
            <div class="user-list">
                <div class="user-item user-header">
                    <div class="user-info">Email</div>
                    <div class="user-info">Nom</div>
                    <div class="user-info">Prenom</div>
                    <div class="user-info">Role</div>
                    <div style="display:none;" class="user-info">Modifier</div>
                    <div style="display:none;" class="user-info">Validate</div>
                </div>
                {% for user in users %}
                    <div class="user-item">
                        <div class="user-info">{{ user.email }}</div>
                        <div class="user-info">{{ user.nom }}</div>
                        <div class="user-info">{{ user.prenom }}</div>
                        <div class="user-info">
                            <select id="user-role-{{ user.id }}" disabled="true" data-original-role="{% if 'ROLE_ADMIN' in user.roles %}ROLE_ADMIN{% else %}ROLE_USER{% endif %}">
                                <option value="ROLE_USER" {% if 'ROLE_ADMIN' not in user.roles %}selected{% endif %}>User</option>
                                <option value="ROLE_ADMIN" {% if 'ROLE_ADMIN' in user.roles %}selected{% endif %}>Admin</option>
                            </select>
                        </div>
                        <a href="#" class="edit-user-icon" data-user-id="{{ user.id }}">Modifier</a>
                        <div class="user-info">
                            <a style="display:none;" class="validate-user-icon" data-user-id="{{ user.id }}">Valider</a>
                            <a style="display:none;" class="cancel-user-icon" data-user-id="{{ user.id }}">Annuler</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}