{% extends 'base_front.html.twig' %}

{% block title %}Modification mot de passe{% endblock %}


{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


    <div class="container">
    <div class="container-center">
        <div class="container-form-back">
            <div class="container-back-butt">
                <a href="{{ path('front_app_profile_default') }}" class="back-button">Retour</a>
            </div>
            <div class="container-form">
                {{ form_start(editCredentialsForm) }}
                    <h2 class="form-register-title">Modification du mot de passe</h2>

                    {{ form_row(editCredentialsForm.currentPassword, {label: 'Entrez votre mot de passe actuel:'}) }}
                    {{ form_row(editCredentialsForm.password.first, {label: 'Entrez votre nouveau mot de passe:'}) }}
                    {{ form_row(editCredentialsForm.password.second, {label: 'Confirmez votre nouveau mot de passe:'}) }}

                    <div class="flex">
                        <button type="submit" class="btn-default">Valider</button>
                    </div>
                {{ form_end(editCredentialsForm) }}
            </div>
        </div>
    </div>
{% endblock %}
